/*Add google font*/
body {
	font-family: 'Azeret Mono', sans-serif;
}

.card-size {
	width: 50rem;
}

.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('./images/bg-landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
} 
